{% extends "booklog/base.html" %}
{% block content %}
    {% if latest_books %}
        <ul>
        {% for title in latest_books %}
            <!--<li> <a href="booklog/{{ title.id }}/"> {{ title.title }}</a>-->
            <li> <a href="{% url 'books-detail' title.id %}"> {{ title.title }}</a>   
               By: {{ title.author }}
               <br><br>
               
            </li>
        {% endfor %}
        </ul>
        {% else %}
            <p>No books are available.</p>
    {% endif %}
{% endblock content %}

